.nav{
    position: relative;
    padding: 20px 0 0 0;
    width: 100%;
    background: $bg1;
    height: 50px;
    img{
        height: 35px;
        margin-left: 20px;
    }
    ul.list{
        position: absolute;
        top:0;
        left: 300px;
        li{
            position: relative;
            color: $color;
            padding:26px 20px;
            list-style: none;
            float: left;
            cursor: pointer;
            font-size: 19px;
            // width: 100px;
            &:hover{
                color: $color1;
                background: $bg2;
            }
            }
    }
    
.icon{
    position: absolute;
    padding:4px 10px;
    // border: 2px solid white;
    width: 200px;
    top: 10px;
    right: 0;
    i{
        font-size: 40px;
        color: $light-clr;
        margin:0 13px;
    }
}
.search{
    position: relative;
    width: 470px;
    background: $black-clr;
    height: 100vh;
    position: absolute;
    top:-10px;
    right: 0;
    h1{
        color: $light-clr;
        position: absolute;
        right: 20px;
        top:20px;
        cursor: pointer;
    }
    input{
        position: absolute;
        top:80px;
        left: 20px;
        padding: 15px;
        width: 390px;
    }
    h3{
        position: absolute;
        top:145px;
        color: $light-clr;
        left: 20px;
        letter-spacing: 1px;
    }
    ul{
        position: absolute;
        left: 20px;
        top:180px;
        width: 400px;
        li{
            list-style: none;
            padding: 10px;
            background: $bg2;
            margin: 10px;
            float: left;
            color: $light-clr
        }
    }
}

.search1{
    position: relative;
    width: 470px;
    background: $black-clr;
    height: 100vh;
    position: absolute;
    top:-10px;
    right: 0;
    h1{
        color: $light-clr;
        position: absolute;
        right: 20px;
        top:20px;
        cursor: pointer;
    }
    input{
        position: absolute;
        padding: 15px;
        width: 390px;
    }
    .user{
        top:80px;
        left: 20px;
    }
    .pass{
        top:145px;
        left: 20px;
    }
    h4{
        position: absolute;
        top:215px;
        color: $light-clr;
        left: 50px;
        letter-spacing: 1px;
        input{
            position: absolute;
            top: 5px;
            left: -29px;
            height: 15px;
            width: 15px;
        }
    }
    .h4{
        color: $light-brown;
        left: 300px;
    }
    button{
        background: $light-brown;
        outline: none;
        border: none;
        padding: 15px 180px;
        border-radius: 30px;
        position: absolute;
        top:270px;
        left: 26px;
        color: $light-clr;
        font-size: 22px;
    }
    .h5{
        @extend h4;
        top:350px;
        left: 116px;
        color:$light-brown; 
    }
}
}


.search2{
    position: relative;
    width: 470px;
    background: $black-clr;
    height: 100vh;
    position: absolute;
    top:-10px;
    right: 0;
    h1{
        color: $light-clr;
        position: absolute;
        right: 20px;
        top:20px;
        cursor: pointer;
    }
    ul{
        position: absolute;
        top:28px;
        width: 100%;
        color: $light-clr;
        li{
            list-style: none;
           margin: 10px 25px;
           font-size: 19px;
           color: $color;
           p{
               font-size: 16px;
               color: $color;
               
           }
           .fas,.fab{ 
            font-size: 28px;
           }
           h3{  
            margin: 2px;
           .fas,.fab{
            margin:10px 5px;
            font-size: 28px;
            background: $bg2;
            padding: 10px;
        }
        .fa-facebook-f{
            padding: 10px 20px;
        }
           }
           .p{
        margin: 3px 30px;       
        }
        }
    }
}
.nav-list{
    position: absolute;
    background: $bg2;
    width: 500px;
    left:0px;
    height: 590px;
    top:70px;
    overflow-y: scroll;
    z-index: 999;
    ul.news-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        left:20px;
        top:30px;
        li{
            padding: 10px;
            color: white;
            span{
                height: 70px;
                width: 100%;
                img{
                    height: 60px;
                    width: 60px;
                }
                p{
                position: relative;
                top:-30px;
                left:100px;
                width: 330px;
                margin-top: -30px;
                }
            }
        }
        }
}
.nav-list1{
    position: absolute;
    background: $bg2;
    width: 580px;
    left:0px;
    height: 480px;
    top:70px;
    z-index: 999;
    ul.forums-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        left:20px;
        top:30px;
        li{
            padding: 10px;
            color: white;
        }
    }
        ul.forums-list2{
            position: absolute;
            display: flex;
            flex-direction: column;
            left:210px;
            top:30px;
            li{
                padding: 10px;
                color: white;
            }
        }
            ul.forums-list3{
                position: absolute;
                display: flex;
                flex-direction: column;
                left:390px;
                top:30px;
                li{
                    padding: 10px;
                    color: white;
                }
            
        }
        h4{
            position: absolute;
            top:390px;
            left: 30px;
            font-size: 22px;
        }
}


.nav-list2{
    position: absolute;
    background: $bg2;
    width: 500px;
    left:0px;
    height: 360px;
    top:70px;
    z-index: 999;
    ul.devices-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        left:20px;
        top:30px;
        li{
            padding: 10px;
            color: white;
        }
    }
        ul.devices-list2{
            position: absolute;
            display: flex;
            flex-direction: column;
            left:180px;
            top:30px;
            li{
                padding: 10px;
                color: white;
            }
        }
            ul.devices-list3{
                position: absolute;
                display: flex;
                flex-direction: column;
                left:320px;
                top:30px;
                li{
                    padding: 10px;
                    color: white;
                }
            
        }
        .hr{
            position: absolute;
            top:300px;
            width: 100%;
        }
        h4{
            position: absolute;
            top:320px;
            left:20px;
        }
        
}


.nav-list3{
    position: absolute;
    background: $bg2;
    width: 480px;
    left:0px;
    height: 620px;
    top:70px;
    z-index: 999;
    ul.topic-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        left:20px;
        top:30px;
        li{
            padding: 10px;
            color: white;
        }
    }
        ul.topic-list2{
            position: absolute;
            display: flex;
            flex-direction: column;
            left:250px;
            top:30px;
            li{
                padding: 10px;
                color: white;
            }
        }
         
}

.nav-list4{
    position: absolute;
    background: $bg2;
    width: 250px;
    left:0px;
    height: 440px;
    top:70px;
    z-index: 999;
    ul.post-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        left:20px;
        top:30px;
        li{
            padding: 10px;
            color: white;
        }
    }
         
}


.tip{width: 0px; 
    height: 0px; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid $bg1;  
    margin-top: -25px;
            
}
.devices-list-start{
    position: absolute;
    background: $bg1;
    width: 450px;
    left:0px;
    height: 500px;
    top:70px;
    z-index: 999;
    // border: 1px solid $color;
    border-radius: 10px;
    ul.deviceslist{
        position: absolute;
        display: flex;
        flex-direction: column;
        top:20px;
        li{
            padding: 10px;
            color: white;
            &:hover{
                background: $bg1;
            }
            span{
                height: 70px;
                width: 100%;
                img{
                    height: 60px;
                    width: 60px;
                }
                p{
                position: relative;
                top:-30px;
                left:100px;
                width: 330px;
                margin-top: -30px;
                }
            }
        }
        }
}

.part-nav{
    padding: 2px 0;
    height: 24px;
    width: 100%;
background: $color;
ol{
    li{
        float: left;
        padding:2px 18px;
        list-style: none;
        cursor: pointer;
           span{
            color: $color1;
            &:hover{
                color: white;
            }    
           }
        &:hover{
            color: white;
            background: $color1;
            border-radius: 20px;
        }
        
     
} 
}
}