.nav{
    position: relative;
    padding: 20px 0 0 0;
    width: 100%;
    background: $bg1;
    height: 50px;
    img{
        height: 35px;
        margin-left: 20px;
    }
    ul.list{
        position: absolute;
        top:0;
        left: 300px;
        li{
            position: relative;
            color: $color;
            padding:26px 20px;
            list-style: none;
            float: left;
            cursor: pointer;
            font-size: 19px;
            // width: 100px;
            &:hover{
                color: $color1;
                background: $bg2;
            }
            }
    }
}
.nav-list{
    position: absolute;
    background: $bg2;
    width: 500px;
    left:0px;
    height: 500px;
    top:70px;
    overflow-y: scroll;
    z-index: 999;
    ul.news-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        left:20px;
        li{
            padding: 10px;
            color: white;
            span{
                height: 70px;
                width: 100%;
                img{
                    height: 60px;
                    width: 60px;
                }
                p{
                position: relative;
                top:-30px;
                left:100px;
                width: 330px;
                margin-top: -30px;
                }
            }
        }
        }
}
.nav-list1{
    position: absolute;
    background: $bg2;
    width: 600px;
    left:0px;
    height: 440px;
    top:70px;
    z-index: 999;
    ul.forums-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        left:20px;
        li{
            padding: 10px;
            color: white;
        }
    }
        ul.forums-list2{
            position: absolute;
            display: flex;
            flex-direction: column;
            left:210px;
            li{
                padding: 10px;
                color: white;
            }
        }
            ul.forums-list3{
                position: absolute;
                display: flex;
                flex-direction: column;
                left:390px;
                li{
                    padding: 10px;
                    color: white;
                }
            
        }
        h2{
            position: absolute;
            top:380px;
            left: 20px;
        }
}


.nav-list2{
    position: absolute;
    background: $bg2;
    width: 500px;
    left:0px;
    height: 400px;
    top:70px;
    z-index: 999;
    ul.devices-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        left:20px;
        li{
            padding: 10px;
            color: white;
        }
    }
        ul.devices-list2{
            position: absolute;
            display: flex;
            flex-direction: column;
            left:180px;
            li{
                padding: 10px;
                color: white;
            }
        }
            ul.devices-list3{
                position: absolute;
                display: flex;
                flex-direction: column;
                left:320px;
                li{
                    padding: 10px;
                    color: white;
                }
            
        }
        
}


.nav-list3{
    position: absolute;
    background: $bg2;
    width: 400px;
    left:0px;
    height: 400px;
    top:70px;
    z-index: 999;
    ul.topic-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        left:20px;
        li{
            padding: 10px;
            color: white;
        }
    }
        ul.topic-list2{
            position: absolute;
            display: flex;
            flex-direction: column;
            left:180px;
            li{
                padding: 10px;
                color: white;
            }
        }
         
}

.nav-list4{
    position: absolute;
    background: $bg2;
    width: 200px;
    left:0px;
    height: 400px;
    top:70px;
    z-index: 999;
    ul.post-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        left:20px;
        li{
            padding: 10px;
            color: white;
        }
    }
         
}


.tip{width: 0px; 
    height: 0px; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid $bg1;  
    margin-top: -25px;
            
}
.devices-list-start{
    position: absolute;
    background: $bg1;
    width: 450px;
    left:0px;
    height: 500px;
    top:70px;
    z-index: 999;
    // border: 1px solid $color;
    border-radius: 10px;
    ul.deviceslist{
        position: absolute;
        display: flex;
        flex-direction: column;
        top:20px;
        li{
            padding: 10px;
            color: white;
            &:hover{
                background: $bg1;
            }
            span{
                height: 70px;
                width: 100%;
                img{
                    height: 60px;
                    width: 60px;
                }
                p{
                position: relative;
                top:-30px;
                left:100px;
                width: 330px;
                margin-top: -30px;
                }
            }
        }
        }
}

.part-nav{
    padding: 2px 0;
    height: 24px;
    width: 100%;
background: $color;
ol{
    li{
        float: left;
        padding:2px 18px;
        list-style: none;
        cursor: pointer;
           span{
            color: $color1;
            &:hover{
                color: white;
            }    
           }
        &:hover{
            color: white;
            background: $color1;
            border-radius: 20px;
        }
        
     
} 
}
}