section.tagsContainer{
    height: auto;
    width: 900px;
    border: 1px solid;
    padding: 50px 0px 50px 0px;

    h1.tag-heading-1st{
        font-weight: lighter;
        margin-bottom: 20px;
    }
    p.tag-para-1st{
        color: grey;
    }
}