

// .slider{
//     height: 50vh;
//     width: 100%;
//     background: yellow;
// }
// img{
//     height: 200px;
//     width:300px;
// }
ul.pagination{
    li{
list-style: none;
float: left;
padding: 10px 20px;
border: 2px solid;
cursor: pointer;
    }
}
input.form-control{
    margin: 30px;
    
}