

// .slider{
//     height: 50vh;
//     width: 100%;
//     background: yellow;
// }
// img{
//     height: 200px;
//     width:300px;
// }
.dataTables_filter{
    position: relative;
    left:830px;
    width:300px;
    label{
        position: relative;
        top:0px;
        font-size:22px;
    }
    input{
        position: relative;
        padding:10px 20px;
        width:290px;
      top:-60px;
      left: 60px;

    }
}
.dataTables_length{
    position: relative;
    left:280px;
    top:30px;
    width:300px;
    font-size:22px;
    select{
        position: relative;
        left: 20px;
        // height:40px;
        padding:10px 20px;
    }
}
.dataTables_info{
    position: relative;
    width:300px;
    top:40px;
    left:700px;

}
ul.pagination{
    position: relative;
    width:600px;
    left:460px;
    top:40px;
    display: flex;
    justify-content: center;
    padding: 70px;
    li{
list-style: none;
float: left;
padding: 10px 20px;
border: 1px solid;
cursor: pointer;
    }
    .active{
        background-color:#FFBD2D;
        
    }
}
input.form-control{
    margin: 30px;
    
}
table{
    position: relative;
left:280px;
    
tbody{
    tr{
td{
    width:320px;
    height:200px;
    margin-left:40px;
}
img{
    height: 100%;
    width:100%;
    margin-bottom:30px;
}
    }
}
td:nth-child(2){
height: 70px;
width:600px;
display: flex;
color:black;
font-size:24px;
font-weight:bold;
left: 30px;
}
td:nth-child(3){
color:gray;
height: 100px;
width:600px;
font-size:19px;
display: flex;
}
}